/***reset***/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    /* vertical-align: baseline; */
    background: transparent;
}
/*******************/
body {
    background: #ffffff;
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif, Tahoma;
    color: #333;
    -webkit-text-size-adjust: none;
}

#product-list {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
    width: 95%;
    max-width: 800px;
    margin-top: 10px;
    border: 1px solid #d5d5d5;
    margin: 0 auto;
}


/********************* Estilos para poner las estrellas de valoración**********************/
.starts span {
    display: block;
    width: 0;
    height: 12px;
    background-position: 0 0;
    text-indent: -9999px;
}
.starts, .starts span, .starts i {
    background: url(./images/star.png) no-repeat;
}
.starts {
    display: inline-block;
    width: 55px;
    height: 12px;
    overflow: hidden;
    margin: 1px 0 0;
    background-position: 0 -22px;
    text-align: left;
    vertical-align: text-top;
}
/********************************************************************************************/
#product-list {
    display: flex;
    flex-wrap: wrap;
}

.product {
    flex-basis: 164px;
    margin: 10px;
}

.product .cover_img {
    text-align: center;
    position: relative;
}

.product .tag {
    position: absolute;
    top: 0;
    right: 0;
}

.product .tag.top_flag {
    background: transparent url("images/tags.png") 0 60px;
    width: 63px;
    height: 60px;
}

.product .discount_off {
    position: absolute;
    top: 0;
    right: 0;

    border-radius: 50%;
    background-color: rgba(36, 168, 78, .9);

    width: 55px;
    height: 45px;

    font-family: "Impact", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: #FFFFFF;

    padding-top: 10px;
}

.product .discount_off::after {
    content: "OFF";
    display: block;
    font-family: sans-serif;
    font-size: .7em;
}

.product > .title > a:first-child {
    height: 3.8em;
    
    display: block;

    overflow: hidden;

    margin-bottom: 7px;
}

.product .wholesale {
    margin-bottom: 10px;
}

.product .wholesale .currency_sign, .product .wholesale .currency_price {
    color: #FA6807;
    font-weight: bold;
}

.product .retail_price {
    display: inline-block;
}

.product .retail_price > .currency_price, .product .retail_price > .currency_sign {
    color: rgb(136, 136, 136);
    text-decoration: line-through;
}

.product .pro_classes > a {
    display: block;
    margin-bottom: 5px;
}

/***** MENU ******/

a {
    color: #333;
    text-decoration: none;
}

.product_bar {
    height: 35px;
    width: 100%;

    padding: 0 8px 0 15px;
    border-bottom: 1px solid #DEDEDE;

    background-color: #EEEEEE;
}

.product_bar > div {
    height: 23px;
    line-height: 23px;
}

.product_bar > .fl {
    float: left;

    margin-top: 5px;
}

.product_bar > .fr {
    float: right;
}

.sort_btn {
    float: left;

    color: #999999;
    background-color: #FFFFFF;
    
    border: 1px solid #DEDEDE;
    margin-right: 7px;
    padding: 0 10px;

    cursor: pointer;
}

.sort_btn > i {
    background: transparent url("images/sort_bg.png") 0 0;

    width: 9px;
    height: 11px;
    display: inline-block;

    vertical-align: middle;
    margin-left: 10px;
}

.sort_btn.active, .sort_btn:hover {
    color: #FA6807;
}

.sort_btn.active > i, .sort_btn:hover > i {
    background: transparent url("images/sort_bg.png") 0 11px;
}

.fr > div {
    display: inline-block;
    margin-top: 5px;
}

.fr .product_bar_info {
    color: #999999;
    font-weight: bold;

    margin-right: 7px;
}

.fr .product_bar_info > span {
    color: #FA6807;
}

.pagination > * {
    background-color: #FFFFFF;
    color: #999999;

    width: 23px;
    height: 23px;
    display: inline-block;

    border: 1px solid #DEDEDE;

    text-align: center;
    text-decoration: none;
}

.pagination > .pre {
    color: #CCCCCC;
    font-weight: normal;
}

.pagination > .next {
    font-weight: bold;
}

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
@media all and (min-width: 1025px) and (max-width: 1280px) { }

@media all and (min-width: 769px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { 
    .product_bar {
        height: auto;
    }

    .product_bar > div {
        height: auto;
    }

    .product_bar > .fl {
        float: none;
        width: 100%
    }

    .product_bar > .fr {
        float: none;
        text-align: center;
    }

    .sort_btn {
        float: none;
        width: calc(100% - 20px); /* 100% - (10px padding left + 10px padding right) */ 
    }

    .sort_btn > i {    
        float: right;
        margin-top: 7px;
    }

    .product {
        /*flex-basis: 200px;*/
        display: flex;
        flex-wrap: wrap;
    }

    .product .cover_img {
        /*margin: 0 auto;*/
        width: 100%;
    }

    .pro_classes {
        order: -5;
        text-align: center;
        width: 100%;
    }

    .toll_free_shipping {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    .product_bar {
        height: auto;
    }

    .product_bar > div {
        height: auto;
    }

    .product_bar > .fl {
        float: none;
        width: 100%
    }

    .product_bar > .fr {
        float: none;
        text-align: center;
    }

    .sort_btn {
        float: none;
        width: calc(100% - 20px); /* 100% - (10px padding left + 10px padding right) */ 
    }

    .sort_btn > i {    
        float: right;
        margin-top: 7px;
    }

    .product {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: 10px 20px;
    }

    .product .cover_img {
        /*margin: 0 auto;*/
        width: 100%;
        text-align: left;
    }

    .product .cover_img a {
        display: block;
        width: 60%;
    }

    .product .cover_img img {
        width: 100%;
    }

    .pro_classes {
        order: -5;
        text-align: left;
        width: 100%;
        font-size: 1.4em;
    }

    .toll_free_shipping {
        width: 100%;
        text-align: center;
    }

    .product > div:last-child {
        width: 100%;
        text-align: center;
    }
    
    .product .wholesale {
        text-align: center;
        width: 100%;
    }
 }


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}